<h1>Give Feedback</h1>

    <!-- <a href="{% url 'feedback:create_topic' %}">Create New Topic</a> -->

    {% if user.is_authenticated %}
        {% if is_topic_master %}
            <a href="{% url 'feedback:create_topic' %}">Create New Topic</a>
        {% endif %}
    {% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <!-- Rest of the form fields -->
    </table>
    <input type="submit" value="Submit">
</form>
<a href="/">Return to Account Home</a>
